<h1>this is my last command</h1>
<% @carts.each do |cart|%>
  <%= cart.product.name %>
<%end%>
<div></div>

<% @whishlLists.each do |whishlList|%>
  <%= whishlList.product.name %>
<%end%>

<div></div>
<% @orders.each do |order|%>
  <%= order.product.name %>
<%end%>